<!doctype html>
<html style="background-color:#FFFFFF">
	<title>Reconhecimento cor de cabelo</title>
	<h1 style="font-family:Sans-serif;font-size:150%" >Reconhecimento cor de cabelo</h1>
	
	
	<h2 style="font-family:Sans-serif;font-size:100%">Insira uma nova imagem</h2>

	<body>

		<div class="column">
			<img src="/static/images/magna_page_index.jpg" alt="Beer" style="widows: 15px;%" >
			

		</div>
		
	</body>
	<form method=post enctype=multipart/form-data>
	    <input type=file name=file>
	    <input type=submit value=Upload>
	</form>
</html>
